:root {
  --dark-main-bg: #1F1B26;
  --dark-items-bg: #000000;
  --dark-box-shadow: rgba(111, 29, 244, 0.12);
  --dark-opposite-bg: #FFFFFF;
  --dark-items-hover-bg: #EAE1FF;
  --dark-active-tab: #3C2956;

  --dark-main-text: #FFFFFF;
  --dark-text-secondary: #C0BACB;
  --dark-logo-text:  linear-gradient(#5B5566, #FFFFFF);

  // assets
  --dark-chart-bg: #584F68;

  //simple colors
  --dark-gray: #C0BACB;
}