// variables for background colors
:root {
  // main colors
  --light-primary: linear-gradient(86.83deg, #FF9800 -45.01%, #EB4A66 25.91%, #C600CA 101.38%);
  --light-logo-color: radial-gradient(75.57% 107.73% at 52.5% 10.85%, #EF8ED5 0%, #EC44D0 52.08%, #C1169C 100%);
  --light-bg-secondary: #E4DBF1;
  --light-error-color: #F02461;
  --light-success-color: #25AF4C;
  --light-secondary-color: #ff00ff;
  --light-warning-color: #FF9800;
  --light-items-hover-bg: #EAE1FF;
  --light-items-bg: #ffffff;
  --light-main-bg: #FBF8FF;
  --light-opposite-bg: #101010;
  --layout-bg: linear-gradient(90.58deg, #EF8ED5 1.06%, #EC44D0 52.41%, #C1169C 99.65%);
  //=========================================================================================

  // assets colors
  --light-accent: #EB4DAC;
  --light-active-tab: #E4AFFF;
  --light-items-box-shadow: rgba(0, 0, 0, 0.25);
  --light-box-shadow: rgba(111, 29, 244, 0.12);
  --light-alt-primary-border: linear-gradient(to right, #FF41B3, #7E00E0);
  //=========================================================================================

  // variables for text colors
  --light-logo-text: linear-gradient(#555A66, #000000);
  --light-main-text: #000000;
  --light-text-secondary: #C0BACB;
  --light-main-opposite-text: #ffffff;
  --light-alt-text-secondary: #584F68;
  --light-primary-text: linear-gradient(113.36deg, #FF41B3 19.17%, #7E00E0 84.92%);
  --light-alter-text: #000072;
  //=========================================================================================

  // variables for forms
  --light-form-bg: #F4F1F8;
  --light-form-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  --light-input-focus-shadow: -4px 0px 8px rgba(247, 32, 131, 0.4), 4px 0px 8px rgba(139, 12, 219, 0.4);
  --light-input-error-shadow: -4px 0px 8px #F02461, 4px 0px 8px #F02461;
  --light-input-success-shadow: -4px 0px 8px #25AF4C, 4px 0px 8px #25AF4C;
  --light-input-warning-shadow: -4px 0px 8px #FF9800, 4px 0px 8px #FF9800;
  --light-input-border: #7E00E0;
  //=========================================================================================

  // variables for btns
  --light-btn-primary-bg: #E12194;
  --light-btn-arrow-bg: linear-gradient(#FF41B3, #7E00E0);
  //=========================================================================================

  // variables for scroll
  --light-scroll-bg: linear-gradient(137.29deg, #FF7F62 21.2%, #FF42B4 88.24%);
  //=========================================================================================

  // header logo gradient
  --light-one-paint: url(#paint0_linear_877_1856);
  --light-two-paint: url(#paint1_linear_877_1856);
  --light-three-paint: url(#paint2_linear_877_1856);
  //=========================================================================================

  // main logo gradient
  --light-main-one-paint: url(#paint0_linear_727_7581);
  --light-main-two-paint: url(#paint1_linear_727_7581);
  --light-main-three-paint: url(#paint2_linear_727_7581);
  //=========================================================================================

  // assets
  --light-chart-bg: #F5EEFE;
  //=========================================================================================

  //simple colors
  --light-gray: #C0BACB;
  --light-black: #000000;
  --light-white: #ffffff;
  //=========================================================================================

}








