.alt-btn {
  background-color: var(--items-bg);
  box-shadow: 0px 1px 4px 0px rgba(111, 29, 244, 0.12);
  color: var(--accent);
  font-size: 12px;
  border-radius: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  padding: 6px 26px;
  height: 40px;
}
