.plan-search {
  position: relative;

  input {
    padding-left: 50px;
    background-color: var(--items-bg);
    color: var(--main-text);
  }

  img {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}