.picture-uploader {
  position: relative;
  width: 100px;
  height: 100px;

  @media (max-width: $mobileSmall) {
    width: 72px;
    height: 72px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 6px;

    @media (max-width: $mobileSmall) {
      width: 72px;
      height: 72px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__delete {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 4px rgba(111, 29, 244, 0.12);
    backdrop-filter: blur(4px);
    border-radius: 6px;
    z-index: 999;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__row {
    display: flex;
    gap: 10px;

    @media (max-width: $mobileSmall) {
      gap: 8px;
    }

    @media (max-width: 374px) {
      flex-wrap: wrap;
    }
  }

  &__wrapper {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

.video-uploader {
  &__player {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin-top: 26px;

    @media (max-width: $mobileSmall) {
      margin-top: 16px;
    }

    video {
      width: 100%;
      height: 500px;
      object-fit: contain;
    }
  }
}

.audio-uploader {

  &__delete {
    position: static;
  }

  &__player {
    margin-top: 26px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $mobileSmall) {
      margin-top: 16px;
    }


    audio {
      width: 100%;
      height: 48px;
    }
  }
}

.media-wrapper {
  border-radius: 6px;
  overflow: hidden;
}