.badge {
  border-radius: 12px;
  padding: 5px 12px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 15px;

  @media (max-width: $mobile) {
    font-size: 10px;
    line-height: 14px;
  }

  &__active {
    font-weight: 700;
  }

  &_one-color {
    font-weight: 400 !important;
  }

  @media (max-width: $tablet) {
    padding: 3px 8px;
  }

  &__tags {
    padding: 6px 20px;

    @media (max-width: $tablet) {
      padding: 6px 12px;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    object-fit: contain;

    @media (max-width: $mobile) {
      width: 12px;
      height: 12px;
    }
  }

  &_all {
    background-color: rgba(255, 173, 193, 0.5);

    &.badge__active {
      font-weight: 700;
      background-color: #ffadc1;
    }
  }

  &_presets {
    background-color: #f5eefe;

    &.badge__active {
      font-weight: 700;
      background-color: #e4afff;
    }
  }

  &_workouts {
    background-color: rgba(185, 240, 255, 0.6);

    &.badge__active {
      font-weight: 700;
      background-color: #99e4fd;
    }
  }

  &_habits {
    background-color: rgba(176, 255, 176, 0.5);

    &.badge__active {
      font-weight: 700;
      background-color: #adffb4;
    }
  }

  &_program {
    background-color: rgba(193, 211, 255, 0.5);

    &.badge__active {
      font-weight: 700;
      background-color: #9ab6ff;
    }
  }

  &_challenges {
    background-color: rgba(255, 242, 170, 0.5);

    &.badge__active {
      font-weight: 700;
      background-color: #ffec85;
    }
  }

  &_buzzmi-tasks {
    background-color: #f5eefe;

    &.badge__active {
      font-weight: 700;
      background-color: #e4afff;
    }
  }

  &_completed {
    background-color: #f5eefe;
  }

  &__row {
    display: flex;
    margin-bottom: 24px;
    overflow-y: auto;
    max-width: calc(100vw - 32px);

    &_in-block {
      max-width: calc(100vw - 70px);
    }

    &_wrap {
      flex-wrap: wrap;
      gap: 10px;

      .badge {
        margin-right: 0 !important;
      }

      @media (max-width: $mobile) {
        gap: 6px;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .badge {
      margin-right: 6px;
    }
  }
}
