$pink-marker-bg: linear-gradient(90deg, #EF8FD5 -0.01%, #EB33CF 100.01%);

.calendar {
  margin-bottom: 20px;

  &--no-navigation {
    .react-calendar {
      &__navigation {
        display: none;
      }
    }
  }

  &__header {
    margin-bottom: 20px;
  }

  &__header-btn {
    background: linear-gradient(113.36deg, #FF41B3 19.17%, #7E00E0 84.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__header-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
  }

  &__body {
    margin-bottom: 20px;
  }

  &__col {
    width: 14.28%;
    text-align: center;
  }

  &__marker {
    position: absolute;
    left: 50%;
    width: 8px;
    height: 8px;
    bottom: 0;
    margin-left: -4px;
    border-radius: 50%;

    &--pink {
      background: $pink-marker-bg;
    }

    &--gray {
      background: var(--gray);
    }
  }

  &__btn-text {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    position: relative;
    transition: color 0.15s linear;

    .fa-arrow-left,
    .fa-arrow-right {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      line-height: 24px;
    }

    &--left {
      padding-left: 33px;

      .fa-arrow-left {
        left: 0;
      }
    }

    &--right {
      padding-right: 33px;

      .fa-arrow-right {
        right: 0;
      }
    }
  }

  &__footer {
    margin-left: -40px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 18px;
  }

  &__footer-item {
    margin-left: 40px;
    padding-left: 12px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 6px;
      height: 6px;
      top: 50%;
      margin-top: -3px;
      border-radius: 50%;
    }

    &--pink-marker {
      &:before {
        background: $pink-marker-bg;
      }
    }

    &--gray-marker {
      &:before {
        background: var(--gray);
      }
    }
  }
}

.react-calendar {
  margin: 0 -10px;

  &__tile {
    max-width: calc(14.28% - 20px);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 1px 4px rgba(111, 29, 244, 0.12);
    border-radius: 6px;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    transition: color 0.15s linear;

    &:disabled {
      display: none;
    }

    &:hover {
      color: var(--accent);
    }

    &--active {
      background: var(--active-tab);
    }
  }

  &__month-view__weekdays__weekday {
    display: flex;
    justify-content: center;

    abbr {
      text-decoration: none;
      font-size: 17px;
      line-height: 21px;
    }
  }

  &__navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__month-view__days__day--neighboringMonth {
    opacity: 0.3;
  }

  &__navigation__next2-button,
  &__navigation__prev2-button {
    display: none;
  }

  &__navigation__label__labelText {
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
  }

  &__navigation__label {
    pointer-events: none;
  }

  &__navigation__arrow {
    &:hover {
      color: var(--accent)
    }
  }
}