.period-list {
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px;

  @media (max-width: $mobile) {
    overflow-y: hidden;
    overflow-x: auto;
    margin: 0 0 13px;
    justify-content: flex-start;
    max-width: calc(100vw - 32px);
    padding-bottom: 10px;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    padding: 10px;
    white-space: nowrap;

    @media (max-width: $mobile) {
      font-size: 13px;
      line-height: 18px;
    }
  }

  &--light {
    .period-list__btn {
      @media (max-width: $mobile) {
        padding: 10px 25px;
        font-size: 11px;
      }

      font-weight: 400;
      color: var(--alt-text-secondary);
    }
  }

  &__item {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      transition: background 0.15s linear;
    }

    &--active {
      .period-list__btn {
        font-weight: 700;
        color: var(--main-text);

        @media (max-width: $mobile) {
          font-size: 13px;
        }
      }

      &:before {
        background: var(--light-accent);
      }
    }
  }
}
