.progress-header {
  width: 500px;
  height: 200px;
  max-width: 100%;
  padding: 105px 30px 30px;
  margin: 0 auto 15px;
  display: flex;
  justify-content: center;
  background: url(../images/assets/header-img.png) no-repeat 50% 50% / 100% 100%;

  @media (max-width: $mobile) {
    width: 343px;
    height: 138px;
    padding: 66px 20px 20px;
  }

  @media (max-width: $mobileSmall) {
    width: 288px;
    height: 118px;
    padding: 66px 20px 20px;
  }

  &__text {
    color: white;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    width: 250px;
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;

    @media (max-width: $mobile) {
      width: 170px;
      font-size: 13px;
      line-height: 16px;
    }
  }
}
