.radio-mode {
  display: flex;
  justify-content: space-between;
  gap: 6px;

  span {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;

    @media (max-width: 600px) {
      font-weight: 300;
      font-size: 11px;
      line-height: 12px;
    }
  }

  input {
    display: none;
  }

  .react-tabs__tab--selected {
    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;

      @media (max-width: 600px) {
        font-size: 12px;
        line-height: 14px;
        white-space: nowrap;
      }

      @media (max-width: 374px) {
        font-size: 12px;
        line-height: 14px;
        white-space: wrap;
      }
    }
  }
}
