.set-goal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 20px;

  &__number {
    width: 317px;
  }

  &__type {
    width: 250px;

    .select__control {
      margin-bottom: 0 !important;
    }
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    gap: 16px;

    & > * {
      width: 100%;
      max-width: 100%;
    }
  }
}
