.box-info-card {
  @media (max-width: $mobileSmall) {
    overflow: hidden;
  }
}

.info-card {
  transition: all 0.3s ease-in-out;

  &__image {
    @include adaptiveValue("width", 120, 80);
    @include adaptiveValue("height", 120, 80);
  }

  .h4 {
    @media (max-width: $mobile) {
      font-family: Montserrat;
      font-size: 15px !important;
      font-style: normal !important;
      font-weight: 700 !important;
      line-height: 20px !important;
    }
  }

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media (max-width: $tablet) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &.show-menu {
    @media (max-width: $mobileSmall) {
      transform: translateX(-256px);

      .info-card__content {
        opacity: 0;
      }
    }
  }

  &__content {
    flex: 1;
  }

  &__badges {
    display: flex;
    align-items: center;

    @media (max-width: $mobileSmall) {
      max-width: 55vw;
      overflow-x: auto;
    }

    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }
  }

  &__arrow:before {
    color: var(--text-secondary);
    font-size: 20px;
  }
}

@import "menu-card";
