.menu-card {
  position: relative;

  &__wrapper {
    display: none;

    @media (max-width: $mobileSmall) {
      display: block;
      transform: translateX(30px);
    }

    &.open {
      display: block;

      @media (max-width: $mobileSmall) {
        transform: translateX(0);
      }
    }
  }

  &.open {
    @media (max-width: $mobileSmall) {
      margin-left: 12px;

      & > button {
        opacity: 0;
      }
    }
  }

  a {
    display: block;
  }

  a > span {
    opacity: 0.8;
  }
}

.info-desktop-menu {
  width: 172px;
  position: absolute;
  background-color: var(--items-bg);
  padding: 16px;
  box-shadow: 0px 1px 4px rgba(111, 29, 244, 0.12);
  border-radius: 6px;
  right: 100%;
  top: 15px;

  @media (max-width: $mobileSmall) {
    display: none;
  }

  li {
    transition: background-color 0.2s ease-in-out;
    border-radius: 6px;
    padding: 2px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    &:hover {
      background-color: #eae1ff;
    }
  }
}

.info-mobile-menu {
  position: absolute;
  top: -20px;
  display: none;

  @media (max-width: $mobileSmall) {
    display: flex;
  }

  &__item {
    padding: 12px 0;
    width: 80px;
    height: 80px;
    background-color: #f5eefe;
    border-radius: 12px;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    color: var(--gray);
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #eae1ff;
    }

    div {
      margin-top: 8px;
    }
  }
}
