#theme-switch:checked ~ .wrapper {
  --main-bg: var(--dark-main-bg);
  --items-bg: var(--dark-items-bg);
  --box-shadow: var(--dark-box-shadow);
  --main-opposite-bg: var(--dark-opposite-bg);

  --text-secondary: var(--dark-text-secondary);
  --main-text: var(--dark-main-text);
  --logo-text: var(--dark-logo-text);

  --chart-bg: var(--dark-chart-bg);

  //simple colors
  --gray: var(--dark-gray);
}

.theme-handler {
  &__switch {
    position: fixed !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    bottom: 0;
    right: 0;
  }
}