@import "variables/light-theme";
@import "variables/dark-theme";

:root {
  --main-bg: var(--light-main-bg);
  --items-bg: var(--light-items-bg);
  --box-shadow: var(--light-box-shadow);
  --main-opposite-bg: var(--light-opposite-bg);

  --text-secondary: var(--light-text-secondary);
  --main-text: var(--light-main-text);
  --logo-text: var(--light-logo-text);

  --chart-bg: var(--light-chart-bg);

  //simple colors
  --gray: var(--light-gray);
}