.subscription-card {
  padding: 20px;
  box-shadow: 0 1px 4px var(--items-box-shadow);
  border-radius: 12px;

  @media (max-width: $mobileSmall) {
    padding: 20px 15px;

    .subscription-card__discount-wrapper {
      margin-right: -15px;
    }
  }

  @media (max-width: $mobileSmall) {
    padding: 10px;
    .h5 {
      text-align: left;
      font-size: 16px;
      line-height: 19px;
    }

    .subscription-card__discount-wrapper {
      margin-right: -10px;
    }
  }

  &__icon {
    width: 60px;
    height: 60px;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;

    &_left {
      display: flex;
      align-items: center;
      gap: 7px;
      padding-right: 15px;

      .h5 {
        margin-bottom: 0 !important;
      }
    }
  }

  &__discount-wrapper {
    margin-right: -20px;
  }

  &__discount {
    position: relative;
    width: 92px;
    height: 28px;
    background: linear-gradient(113.36deg, #ff41b3 19.17%, #7e00e0 84.92%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: var(--main-opposite-text);
    border-radius: 3px 0 0 3px;

    &:before {
      content: "";
      position: absolute;
      top: 11px;
      left: -17px;
      width: 21px;
      height: 21px;
      transform: rotate(45deg) translateY(-50%);
      border-radius: 3px;
      background: #ff41b3;
    }

    span {
      position: relative;
      z-index: 1;
    }
  }

  &__discount-text {
    padding: 4px 5px 0 0;
  }
}
