.hub-access {
  display: block;
  width: 100%;
  height: 100%;

  &__block {
    height: 100%;
    transition: all 0.3s ease-in-out;

    @media (max-width: $mobile) {
      display: flex;
      align-items: center;
    }

    &:hover {
      background-color: var(--items-hover-bg);
    }
  }


  &__img {
    display: inline-block;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--active-tab);


    img {
      @include adaptiveValue('width', 42, 23);
      @include adaptiveValue('height', 40, 24);
    }
  }
}

.hub-list-access {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;

  @media (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
}