.rank-row {
  display: flex;
  justify-content: space-between;

  &__label {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 14px;


    @media (max-width: $tablet) {
      padding: 30px 0;
      gap: 4px;
      justify-content: space-between;
    }
  }

  &__img {
    width: 90px;
    height: 80px;
    
    @media (max-width: $tablet) {
      width: 60px;
      height: 54px;
    }
  }
}