.rank-row {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet) {
    justify-content: space-around;
  }

    @media (max-width: $mobileSmall) {
        justify-content: space-between;
    }

  &__label {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    gap: 14px;


    @media (max-width: $tablet) {
      gap: 4px;
      justify-content: space-between;
      grid-template-rows: 1fr 1fr 1fr;
    }

    @media (max-width: $mobileSmall) {
     width: 88px;
    }

    @media (max-width: 350px) {
      width: 70px;
    }
  }

  &__img {
    width: 90px;
    height: 80px;
    
    @media (max-width: $tablet) {
      width: 60px;
      height: 54px;
    }
  }
}