// Heading text

.h1 {
  //@include adaptiveValue('font-size', 48, 36);
  //@include adaptiveValue('line-height', 59, 44);
}

.h2 {
  font-weight: 800;

  @include adaptiveValue('font-size', 40, 24);
  @include adaptiveValue('line-height', 48, 28);

  @media (max-width: $mobile) {
    font-weight: 700;
  }
}

.h3 {
  font-weight: 800;

  @include adaptiveValue('font-size', 30, 18);
  @include adaptiveValue('line-height', 36, 22);
}

.h4 {
  font-weight: 700;

  @include adaptiveValue('font-size', 22, 15);
  @include adaptiveValue('line-height', 26, 16);
}

.h5 {
  font-weight: 700;

  @include adaptiveValue('font-size', 18, 13);
  @include adaptiveValue('line-height', 28, 12);
}

.h6 {
  font-weight: 600;

  @include adaptiveValue('font-size', 15, 12);
  @include adaptiveValue('line-height', 18, 14);

  @media (max-width: $mobile) {
    font-weight: 600;
  }
}

// Simple text

.text-b {
  font-weight: 500;

  @include adaptiveValue('font-size', 18, 15);
  @include adaptiveValue('line-height', 21, 20);
}

.text-r {
  font-weight: 400;
  text-transform: none;

  @include adaptiveValue('font-size', 16, 12);
  @include adaptiveValue('line-height', 18, 12);
}

.text-s {
  font-weight: 300;

  @include adaptiveValue('font-size', 12, 10);
  @include adaptiveValue('line-height', 15, 14);
}

// Assets text

.btn-text {
  text-transform: uppercase;
  font-weight: 700;

  @include adaptiveValue('font-size', 22, 16);
  @include adaptiveValue('line-height', 20, 20);
}

// Color text

.text-primary {
  background-image: var(--primary);
  background-clip: text;
  color: transparent !important;
}

.text-alt-primary {
  background-image: var(--primary-text);
  background-clip: text;
  color: transparent !important;
}

.text-secondary {
  color: var(--text-secondary)  !important;
}

.text-error {
  color: var(--error-color)  !important;
}

.text-success {
  color: var(--success-color)  !important;
}

.text-alert {
  color: var(--alter-text)  !important;
}
// Position text

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}
